@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
}

/* Set scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Set universal padding, margin and box sixing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/* Set positioning for the nav bar elements */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
 /* Set specific color for the nav header */
nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  /* Set the hero size and positioning for hero section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  /* Set a height and width for the hero img to keep it contained */
  .hero img {
    height: 37.5rem;
    width: 37.5rem;
  }
  
  /* Set positioning and sizing for the smaller about me section */
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  /* Set bg color and padding for the longer about me section */
  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }

  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }

  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  /* Set bg color, padding and margin top for the projects section */
  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  /* Set width and height for the project images */
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  /* Made the projects container display flex and centered the elements */
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Centered the projects title and set a bottom margin */
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  /* Set width, padding and centered text */
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  /* Set styles for the cards the projects are on */
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  /* Positioning for the contact info section */
  .contact-info {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-weight: var(--bold-font)
}

/* Centered text for contact info header */
.contact-info-section h2 {
  text-align: center;
} 

/* Media query so website is responsive on screens 720px and below */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
        height: 37.5rem;
        width: 30rem;
    }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-info {
    max-width: 23.75rem;
  }
}

/* Media query so site is responsive on screens 420px and smaller */
@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-info {
    max-width: 17.75rem;
  }
}